body {
    font-family: 'JetBrains Mono', monospace;
}

nav {
    padding: 0px 0px 30px 0px;
    /* margin-bottom: 10vh; */
}


a:hover {
    text-decoration: none !important;
    font-weight: bold !important;
    color: white !important;
}


button > .waves-light {
    margin-top: 5vh !important;
}



.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 15vh !important;
}

.notification {
    width: 100%;
}


