{% extends "layout.html" %}

{% block content %}

  <div class="container text-center">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}
  <form action="/add" method="POST" class="form-register">

    {{ form.hidden_tag() }}
 
    {{ form.name.label() }}
    {{ form.name(class="form-control text-white") }}

    {{ form.email.label() }}
    {{ form.email(class="form-control text-white") }}

    {{ form.phone.label() }}
    {{ form.phone(class="form-control text-white") }}

    {{ form.submit_data(class="mt-4 form-control btn btn-large btn-success") }}
  </form>
</div>

{% endblock %}