<!-- {% extends "layout.html" %}

{% block content %}

  <div class="container">
  <form action="/show" method="POST" class="form-control">
    {{ form.username.label() }}
    {{ form.username(class="form-control") }}

    {{ form.email.label() }}
    {{ form.email(class="form-control") }}

    {{ form.phone.label() }}
    {{ form.phone(class="form-control") }}

    {{ form.submit_data.label() }}
    {{ form.submit_data(class="form-control btn btn-large btn-success") }}
  </form>
</div>

{% endblock %} -->