{% extends "layout.html" %}

{% block content %}

<div class="container text-center mt-5">
<form action="/edit/{{ profile.id }}" method="POST" class="form-register">

  {{ form.hidden_tag() }}

  {{ form.name.label() }}
  {{ form.name(class="form-control text-white text-center") }}

  {{ form.email.label() }}
  {{ form.email(class="form-control text-white text-center") }}

  {{ form.phone.label() }}
  {{ form.phone(class="form-control text-white text-center") }}

  {{ form.department.label() }}
  {{ form.department(class="form-control text-white text-center") }}

  {{ form.submit_data(class="mt-4 form-control btn btn-large btn-success", value="Save") }}
    <button class="btn btn-secondary mt-4"><a href="{{ url_for('dashboard') }}">Go back</a></button>

</form>
</div>


{% endblock %}