{% extends 'layout.html' %}
{% block content %}

<div class="container text-center">
<form 
    action="/register" 
    method="POST" 
    class="form-register"
    style="color:white"
>
    {{ form.hidden_tag() }}
    <h1 class="h3 mb-3 font-weight-normal">Create account</h1>
    {{ form.username(class="form-control text-center text-white", placeholder="Username") }}
    {{ form.email(class="form-control text-center text-white", placeholder="Email") }}
    {{ form.password(class="form-control text-center text-white", placeholder="Password") }}
    {{ form.submit_data(class="form-control btn btn-large btn-success") }}

    {% if form.errors %}
    {{ form.errors }}
    {% endif %}
</form>
</div>

{% endblock %}