{% extends 'layout.html' %}
{% block content %}

<div class="container text-center mt-5">
    <form action="/register" method="POST" class="form-register" style="color:white">
        {{ form.hidden_tag() }}
        <h1 class="h3 mb-3 font-weight-normal">Create account</h1>
        {{ form.name(class="form-control text-center text-white", placeholder="Full name") }}
        {{ form.email(class="form-control text-center text-white", placeholder="Email") }}
        {{ form.phone(class="form-control text-center text-white", placeholder="Phone") }}
        {{ form.department(class="form-control text-center text-white", placeholder="Department") }}
        {{ form.password(class="form-control text-center text-white", placeholder="Password") }}
        {{ form.submit_data(class="form-control btn btn-large btn-success mt-4", label="save")  }}
    </form>
</div>
<p class="text-center mt-3" style="color: white">
 Already have an account? <a href="/login">Sign in</a> here.
</p>

{% endblock %}